body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */

.flex-container  {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 3rem 0 0 3rem;
  align-items: flex-end;
}

ul  {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
  background-color: beige;
  margin-top: 1rem;
}

li  {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}

a  {
  text-decoration: none;
  color: black;
}

/* Set image to width of container 100% */
img  {
  max-width: 100%;
}

/***************** NAV *****************/

nav a:hover  {
  color: silver;
}

/**************** HERO *****************/

.cat {
  max-height: 8rem;
}

h1 .logo-w {
  font-size: 4rem;
  font-family: 'Berkshire Swash', cursive;
  color: green;
}

h1  {
  margin-left: 3rem;
}
h2  {
  font-family: 'Berkshire Swash', cursive;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

aside  {
  margin: .5rem 0 0 3rem;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

/* Bootstrap grid 1 of 4 installed on modules */

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

